<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-md="4">
        <div class="ion-padding">
          <ion-text>
            <h2 class="color-dark">Enter a new password</h2>
            <p class="color-secondary">Create strong and secure password that protect your account</p>
          </ion-text>
        </div>
      
        <form #resetForm="ngForm" novalidate>
          <ion-list class="ion-padding-bottom">
            <ion-item lines="none">
              <ion-label class="purity-text-label color-dark" position="stacked">Old Password</ion-label>
              <ion-input
                [(ngModel)]="resetform.oldpassword"
                class="purity-text-input"
                name="oldpassword"
                type="text"
                #oldpassword="ngModel"
                spellcheck="false"
                autocapitalize="off"
                required
              >
              </ion-input>
            </ion-item>
      
            <ion-text color="danger">
              <p
                [hidden]="oldpassword.valid || submitted === false"
                class="ion-padding-start"
              >
                Username is required
              </p>
            </ion-text>
      
            <ion-item lines="none">
              <ion-label class="purity-text-label color-dark" position="stacked">New Password</ion-label>
              <ion-input
                [(ngModel)]="resetform.newpassword"
                class="purity-text-input"
                name="newpassword"
                type="password"
                #newpassword="ngModel"
                required
              >
              </ion-input>
            </ion-item>
      
            <ion-text color="danger">
              <p
                [hidden]="newpassword.valid || submitted === false"
                class="ion-padding-start"
              >
                Password is required
              </p>
            </ion-text>
          </ion-list>
      
          <ion-buttons slot="primary">
            <ion-grid>
              <ion-row>
                <ion-col class="ion-padding-bottom" size="12">
                  <ion-button class="purity-button-primary" (click)="onReset(resetForm)" type="submit" expand="block">Save password</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-buttons>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  
    <app-wave-animation></app-wave-animation>
</ion-content>
  