<ion-content>

    <div class="ion-padding">
      <ion-text>
        <h2 class="color-dark">Password Recovery</h2>
        <p class="color-secondary">We will send password recovery code in this email</p>
      </ion-text>
    </div>
  
    <form #emailForm="ngForm" novalidate>
      <ion-list class="ion-padding-bottom">
  
        <ion-item lines="none">
          <ion-label position="stacked" class="color-dark">Email Address</ion-label>
          <ion-input
            [(ngModel)]="emailForm.email"
            class="purity-text-input"
            name="email"
            type="email"
            #email="ngModel"
            required
          >
          </ion-input>
        </ion-item>
  
        <ion-text color="danger">
          <p
            [hidden]="email.valid || submitted === false"
            class="ion-padding-start"
          >
            Email is required
          </p>
        </ion-text>
      </ion-list>
  
      <ion-buttons slot="primary">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-padding-bottom" size="12">
              <ion-button class="purity-button-primary" (click)="onEmailSubmit(emailForm)" type="submit" expand="block">Send Link</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-buttons>
    </form>
  
    <app-wave-animation></app-wave-animation>
  </ion-content>
  