ion-toolbar {
    position: absolute;
  
    top: 0;
    left: 0;
    right: 0;
  
    --background: transparent;
    --color: white;
}

.pservice-header {
  position: relative;

  width: 100%;
  height: 30%;
}

.pservice-header .pservice-image {
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  opacity: 0;

  transition: opacity 500ms ease-in-out;
}

.pservice-header .madison {
background-image: url('../../../assets/img/about/madison.jpg');
}
.pservice-header .austin {
background-image: url('../../../assets/img/about/austin.jpg');
}
.pservice-header .chicago {
background-image: url('../../../assets/img/about/chicago.jpg');
}
.pservice-header .seattle {
background-image: url('../../../assets/img/about/seattle.jpg');
}

.pservice-info {
  position: absolute;
  margin-top: -10px;
  border-radius: 10px;
  background: var(--ion-background-color, #fff);
}

.pservice-info h3 {
  margin-top: 0;
}

.pservice-info ion-list {
  padding-top: 0;
}

.pservice-info p {
  line-height: 130%;

  color: var(--ion-color-dark);
}

.pservice-info ion-icon {
  margin-inline-end: 32px;
}

#date-input-popover {
  --offset-y: -var(--ion-safe-area-bottom);

  --max-width: 90%;
  --width: 336px;
}