<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home Page</ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content>
    <div class="ion-padding swiper">
        <swiper
        class="swiper-container"
        [config]="config"
        (slideChange)="onSlideChange()"
        >
            <ng-template swiperSlide>
                <ion-img src="../../../assets/img/about/seattle.jpg" alt="The Wisconsin State Capitol building in Madison, WI at night">
                </ion-img>
            </ng-template>
            <ng-template swiperSlide>
                <ion-img src="../../../assets/img/about/chicago.jpg" alt="The Wisconsin State Capitol building in Madison, WI at night">
                </ion-img>
            </ng-template>
            <ng-template swiperSlide>
                <ion-img src="../../../assets/img/about/madison.jpg" alt="The Wisconsin State Capitol building in Madison, WI at night">
                </ion-img>
            </ng-template>
            <ng-template swiperSlide>
                <ion-img src="../../../assets/img/about/austin.jpg" alt="The Wisconsin State Capitol building in Madison, WI at night">
                </ion-img>
            </ng-template>
        </swiper>
    </div>
    <div class="service" *ngIf="sevicesList">
        <legend class="ion-padding-start"><h2>Services</h2></legend>
        <ion-row>
            <ion-col *ngFor="let service of sevicesList" size="12">
                <!-- [ngStyle]="{'background-image': 'url(../../../assets/img/about/'+ service.image +'.jpg)'}" -->
                <ion-card class="service-card" (click)="onClickService(service)" 
                >
                    <ion-card-header>
                      <ion-card-title class="service-title"><h3>{{service.name}}</h3></ion-card-title>
                      <ion-card-subtitle class="service-subtitle">
                        <h5>
                            Price: {{service.price}} <br> 
                            Rating: {{service.ratings}} <br>
                            Duration: {{service.duration}} <br>
                            Duration: {{service.reviews_count}}
                        </h5></ion-card-subtitle>
                    </ion-card-header>
                  
                    <ion-card-content class="service-details">
                      {{service.description}}
                    </ion-card-content>
                  </ion-card>
            </ion-col>

        </ion-row>
    </div>
</ion-content>