<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-lg="4" offset-md="4">
          <div class="ion-padding">
            <ion-text>
              <h2 class="color-dark">FORGET PASSWORD</h2>
              <p class="color-secondary">Please select option to send link reset password</p>
            </ion-text>
          </div>
          
          <ion-card (click)="onCardReset('email-reset')">
            <ion-card-header>
              <ion-row>
                <div class="card-icon">
                  <ion-icon class="icon" name="mail-open-sharp"></ion-icon>
                </div>
                <div>
                  <ion-card-subtitle>Reset via email</ion-card-subtitle>
                  <ion-card-title>If you have email linked to account</ion-card-title>
                </div>
              </ion-row>
            </ion-card-header>
          </ion-card>
      
          <ion-card (click)="onCardReset('phone-reset')">
            <ion-card-header>
              <ion-row>
                <div class="card-icon">
                  <ion-icon class="icon" name="recording-sharp"></ion-icon>
                </div>
                <div>
                  <ion-card-subtitle>Reset via SMS</ion-card-subtitle>
                  <ion-card-title>If you have number linked to account</ion-card-title>
                </div>
              </ion-row>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <app-wave-animation></app-wave-animation>
  </ion-content>
  