/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/*
 * App CSS
 * ----------------------------------------------------------------------------
 * Imports a file that can contain Sass/CSS that should be used throughout
 * the entire app.
 */

@import "./app/app.scss";

@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';

// placed here instead of tutorial.scss due to slide els not getting ng scoping attribute

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
}

.swiper-slide {
  display: block;
}

$primary-color: var(--ion-color-primary);
$secondary-color: #cccccc;
$color-white: #ffffff;
$color-black: #000000;
$transparent: transparent;
$border-color: #e2e2e2;
$border-size: 1px; 
$border-radius: 30px;
$border-type: solid;
$border: $border-size $border-type $border-color;

.color-primary {
  color: $primary-color;
}

.color-secondary {
  color: $secondary-color;
}
.color-dark {
  color: $color-black;
}

@mixin purity-text-input {
  font-size: 14px !important;
  width: 100% !important;
  height: 48px !important;
  border-radius: $border-radius !important;
  border: $border !important;
  padding: 15px !important;
}

@mixin purity-button {
  width: 100% !important;
  height: 48px !important;
  border-radius: $border-radius !important;
  border: $border!important;
}

@mixin purity-button-primary {
  @include purity-button;
  color: $color-white;
  background-color: $primary-color;
  border-color: $primary-color;
}

@mixin purity-button-secondary {
  @include purity-button;
  background-color: $transparent;
}

.purity {
  &-text-input > input {
    @include purity-text-input;
  }
  &-button-primary {
    @include purity-button-primary;
  }
  &-button-secondary {
    @include purity-button-secondary;
  }
}
