<ion-content>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  
    <div class="pservice-header" *ngIf="service">
      <!-- Instead of loading an image each time the select changes, use opacity to transition them -->
      <div class="pservice-image madison" [ngStyle]="location === 'madison' && {'opacity': '1'}"></div>
      <div class="pservice-image austin" [ngStyle]="location === 'austin' && {'opacity': '1'}"></div>
      <div class="pservice-image chicago" [ngStyle]="location === 'chicago' && {'opacity': '1'}"></div>
      <div class="pservice-image seattle" [ngStyle]="location === 'seattle' && {'opacity': '1'}"></div>
    </div>
  
    <div class="pservice-info" *ngIf="service">
      <h3 class="ion-padding-top ion-padding-start">{{ service?.name | uppercase }} SERVICE</h3>
      <div class="pservice-detail">
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-sm="6" size-lg="3">
              <h5 class="pservice-text">
                <strong>{{service.price}}</strong> <br>
                <span>Price</span>
              </h5>
            </ion-col>
            <ion-col size="12" size-sm="6" size-lg="3">
              <h5 class="pservice-text">
                <strong>{{service.ratings}}</strong> <br>
                <span>Rating</span>
              </h5>
            </ion-col>
            <ion-col size="12" size-sm="6" size-lg="3">
              <h5 class="pservice-text">
                <strong>{{service.duration}}</strong> <br>
                <span>Duration</span>
              </h5>
            </ion-col>
            <ion-col size="12" size-sm="6" size-lg="3">
              <h5 class="pservice-text">
                <strong>{{service.reviews_count}}</strong> <br>
                <span>Reviews</span>
              </h5>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        <p class="ion-padding-start ion-padding-end">
          {{ service.description }}
        </p>
      </div>
  
      <h3 class="ion-padding-top ion-padding-start">Booking Details</h3>
      <form [formGroup]="bookingForm" (ngSubmit)="onbookingFormSubmit()">
      <ion-list lines="none">
        <ion-item>
          <ion-label class="purity-text-label">
            Location
          </ion-label>
          <ion-select formControlName="locality" [interfaceOptions]="selectOptions" [value]="location" #location >
            <ion-select-option *ngFor="let location of locationList" [value]="location.code"> {{ location.name }} </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item button="true" id="open-date-input">
          <ion-label class="purity-text-label">
            Date
          </ion-label>
          <ion-text slot="end">{{ selectedDate | date: 'mediumDate' }}</ion-text>
          <ion-popover id="date-input-popover" trigger="open-date-input" [showBackdrop]="false" side="top" alignment="end">
            <ng-template>
              <ion-datetime #date 
                formControlName="slotdate"
                max="2056"
                [isDateEnabled]="isPresentDate"
                [min]="minDate"
                [value]="selectedDate"
                presentation="date"
                [showDefaultButtons]="true"
                (ionChange)="changeDate(date.value)"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>

        <ion-item class="ion-padding-top">
          <ion-button class="purity-button-primary" type="submit" expand="block">BOOK NOW</ion-button>
        </ion-item>

      </ion-list>
      </form>
    </div>
  </ion-content>
  